openapi: 3.1.0
info:
  contact:
    email: support@graphhopper.com
    name: Support
    url: https://www.graphhopper.com/
  description: "\nIntegrate A-to-B route planning, turn-by-turn navigation,\nroute\
    \ optimization, isochrone calculations, location clustering and other tools into\
    \ your application.\n\n  ##### Authentication\n  \n  1. [Sign up for GraphHopper](https://graphhopper.com/dashboard/#/signup)\n\
    \  2. [Create an API key](https://support.graphhopper.com/a/solutions/articles/44001976027)\n\
    \n  Authenticate to the API by passing your key as a query parameter in every\
    \ request.\n\n  ##### API Explorer\n\n  You can also try all API parts without\
    \ registration in our [API explorer](https://explorer.graphhopper.com/).\n\n \
    \ ##### Client Libraries\n\n  To speed up development and make coding easier,\
    \ we offer a [JavaScript client](https://github.com/graphhopper/directions-api-js-client)\
    \ and a\n  [Java client](https://github.com/graphhopper/graphhopper/tree/master/client-hc).\n\
    \n  ##### Optimize Response Speed\n\n  1. Reuse SSL/TLS sessions\n\n  You should\
    \ utilize the SSL session to speed up responses after the initial response or\
    \ use a library that does this. E.g. for Java the\n  [OkHttp library](https://square.github.io/okhttp/)\
    \ automatically reuses SSL/TLS sessions and also the browser takes care of this\
    \ automatically.\n  For python you can use the [`requests` library](https://requests.readthedocs.io/en/latest/user/advanced/):\
    \ first you create a\n  session (`session = requests.Session()`) and then do requests\
    \ only with this session instead of directly using \"requests\".\n\n  2. Bandwidth\
    \ reduction\n\n  If you create your own client, make sure it supports http/2 and\
    \ gzipped responses for best speed.\n  If you use the Matrix, the Route Optimization\
    \ API or the  and want to solve large problems, we recommend you to reduce bandwidth\n\
    \  by [compressing your POST request](https://gist.github.com/karussell/82851e303ea7b3459b2dea01f18949f4)\
    \ and specifying the header\n  as follows: `Content-Encoding: gzip`. This will\
    \ also avoid the HTTP 413 error \"Request Entity Too Large\".\n"
  termsOfService: https://www.graphhopper.com/terms/
  title: GraphHopper Directions API
  version: 1.0.0
  x-logo:
    url: img/graphhopper-logo.svg
    altText: GraphHopper
servers:
- url: https://graphhopper.com/api/1
security:
- api_key: []
tags:
- description: "\nThe default data source is [OpenStreetMap](https://www.openstreetmap.org)\
    \ and as an alternative we have also integrated TomTom.\n\n# OpenStreetMap\n\n\
    #### Geographical Coverage\n\n[OpenStreetMap](https://www.openstreetmap.org) covers\
    \ the whole world. If you want to see for yourself if we can provide data suitable\
    \ for your region,\nplease visit [GraphHopper Maps](https://graphhopper.com/maps/).\n\
    You can edit and modify OpenStreetMap data if you find that important information\
    \ is missing, e.g. a weight limit for a bridge.\n[Here](https://wiki.openstreetmap.org/wiki/Beginners%27_guide)\
    \ is a beginner's guide that shows how to add data. If you have edited data, we\
    \ usually consider your data after 1 week at the latest.\n\n#### Standard Routing\
    \ Profiles\n\nThe Routing, Matrix and Route Optimization APIs support the following\
    \ profiles. But also see the section about customized profiles below the table.\n\
    \nName             | Description           | Restrictions                    \
    \    | Icon\n-----------------|:----------------------|:------------------------------------|:---------------------------------------------------------\n\
    car              | Car mode              | car access, weight=2500kg, width=2m,\
    \ height=2m           | ![car image](./img/car.png)\ncar_avoid_motorway | Car\
    \ mode            | like car that heavily penalizes motorways        | ![car image](./img/car.png)\n\
    car_avoid_ferry    | Car mode            | like car that heavily penalizes ferries\
    \          | ![car image](./img/car.png)\ncar_avoid_toll     | Car mode      \
    \      | like car that heavily penalizes tolls and ferries| ![car image](./img/car.png)\n\
    small_truck        | Small truck like a Mercedes Sprinter, Ford Transit or Iveco\
    \ Daily | height=2.7m, width=2+0.28m, length=5.5m, weight=2080+1400 kg | ![small\
    \ truck image](./img/small_truck.png)\ntruck              | Truck like a MAN or\
    \ Mercedes-Benz Actros              | height=3.7m, width=2.6+0.34m, length=12m,\
    \ weight=13000+13000 kg, hgv=yes, 3 Axes | ![truck image](./img/truck.png)\nscooter\
    \            | Moped mode          | Fast inner city, often used for food delivery,\
    \ is able to ignore certain bollards, maximum speed of roughly 50km/h. weight=300kg,\
    \ width=1m, height=2m | ![scooter image](./img/scooter.png)\nfoot       | Pedestrian\
    \ or walking without dangerous [SAC-scales](https://wiki.openstreetmap.org/wiki/Key:sac_scale)\
    \ | foot access         | ![foot image](./img/foot.png)\nhike       | Pedestrian\
    \ or walking with priority for more beautiful hiking tours and potentially a bit\
    \ longer than `foot`. Walking duration is influenced by elevation differences.\
    \  | foot access         | ![hike image](./img/hike.png)\nbike       | Trekking\
    \ bike avoiding hills | bike access         | ![Bike image](./img/bike.png)\n\
    mtb        | Mountainbike                 | bike access         | ![Mountainbike\
    \ image](./img/mtb.png)\nracingbike | Bike preferring roads        | bike access\
    \         | ![Racingbike image](./img/racingbike.png)\necargobike | Similar to\
    \ racingbike but a bit faster and with width constraints. Currently only available\
    \ upon request. | bike access but without steps and footways | ![Racingbike image](./img/racingbike.png)\n\
    as_the_crow_flies | Only available for the Cluster API. Uses the straight-line\
    \ (or \"direct\") distance. This allows to use 5x more customers than the contractual\
    \ \"locations\" limit defines. | -         | -\n\nPlease note:\n\n * the free\
    \ package supports only the routing profiles `car`, `bike` or `foot`\n * up to\
    \ 3 different routing profiles can be used in a single request towards the Route\
    \ Optimization API. The number of vehicles is unaffected and depends on your subscription.\n\
    \ * we offer custom routing profiles with different properties, different speed\
    \ profiles or different access options. To find out more about custom profiles,\
    \ see [the documentation](#tag/Profile-API) and [contact us](https://www.graphhopper.com/contact-form/).\n\
    \ * a sophisticated `motorcycle` profile is available up on request. It is powered\
    \ by the [Kurviger](https://kurviger.de/en) Routing API and favors curves and\
    \ slopes while avoiding cities and highways.\n \n#### Customized Routing Profiles\n\
    \nYou can also adjust the speeds, access options and much more by using customized\
    \ routing profiles. We offer this for the Routing API (see the section about [Custom\
    \ Models](#tag/Custom-Model)). For interested customers we offer the [Profiles\
    \ API](#tag-API) that can be used for matrix calculations and route optimiztion\
    \ as well.\n\n\n# TomTom\n\nIf you want to include traffic, you can purchase the\
    \ TomTom Add-on.\nThis Add-on only uses TomTom's road network and historical traffic\
    \ information.\nLive traffic is not yet considered. If you are interested to learn\
    \ how we consider traffic information, we recommend that you read [this article](https://www.graphhopper.com/blog/2017/11/06/time-dependent-optimization/).\n\
    \nPlease note the following:\n\n * Currently we only offer this for our [Route\
    \ Optimization API](#tag/Route-Optimization-API). [Contact us](https://www.graphhopper.com/contact-form/)\
    \ if you would like to use it for the Matrix or Routing API.\n * In addition to\
    \ our terms, you need to accept TomTom's [End User License Aggreement](https://www.graphhopper.com/tomtom-end-user-license-agreement/).\n\
    \ * We do *not* use TomTom's web services. We only use their data with our software.\n\
    \ \n[Contact us](https://www.graphhopper.com/contact-form/) if you want to buy\
    \ this TomTom add-on.\n\n#### Geographical Coverage\n\nWe offer\n\n- Europe including\
    \ Russia\n- North, Central and South America\n- Saudi Arabia and United Arab Emirates\n\
    - South Africa\n- Southeast Asia\n- Australia\n\n#### Supported Vehicle Profiles\n\
    \nName       | Description           | Restrictions              | Icon\n-----------|:----------------------|:--------------------------|:---------------------------------------------------------\n\
    car        | Car mode              | car access                | ![car image](./img/car.png)\n\
    small_truck| Small truck like a Mercedes Sprinter, Ford Transit or Iveco Daily\
    \ | height=2.7m, width=2+0.28m, length=5.5m, weight=2080+1400 kg | ![small truck\
    \ image](./img/small_truck.png)\n"
  name: Map Data and Routing Profiles
- description: "The Route Optimization API can be used to solve [traveling salesman](https://en.wikipedia.org/wiki/Travelling_salesman_problem)\
    \ or [vehicle routing problems](https://en.wikipedia.org/wiki/Vehicle_routing_problem).\n\
    You can use our [API Explorer](https://explorer.graphhopper.com/) to explore Route\
    \ Optimization.\nIf you have successfully solved the first problem, we recommend\
    \ this tutorial - [Getting Started with the Optimization API](https://www.graphhopper.com/blog/2019/05/17/getting-started-with-the-optimization-api-traveling-salesman-problem/).\n\
    It shows and describes the essential elements to model your vehicle routing problem.\n\
    \nFurther reading: \n- [How to solve a traveling salesman problem with a week-planning\
    \ horizon?](https://www.graphhopper.com/blog/2020/07/15/how-to-solve-a-traveling-salesman-problem-with-a-week-planning-horizon-and-driver-shifts/)\n\
    - [How to schedule technicians with skills and multiple dependencies between tasks?](https://www.graphhopper.com/blog/2016/06/03/how-to-route-technicians-with-skills-and-multiple-dependencies-between-tasks/)\n\
    - [What is the difference between the min. of completion time and min. transport\
    \ time?](https://www.graphhopper.com/blog/2016/06/20/what-is-the-difference-between-the-minimization-of-completion-time-and-minimizing-transport-time/)\n\
    - [How to model multiple delivery routes with a single vehicle?](https://www.graphhopper.com/blog/2016/07/21/how-to-model-multiple-delivery-routes-with-a-single-vehicle/)\n"
  name: Route Optimization
- description: |
    The Routing API calculates the best path connecting two or more points, where the meaning of ''best'' depends on the vehicle profile and use case.
    Besides path coordinates it can return turn-by-turn instructions, elevation, [path details](https://www.graphhopper.com/blog/2019/11/28/routing-api-using-path-details/) and other useful information about the route.

    Use our [API Explorer](https://explorer.graphhopper.com/) to explore the Routing API.
  name: Routing
- name: Matrices
- description: |
    _Geocoding_ describes the process of transforming an textual address representation to a coordinate (`latitude,longitude`).
    For example the conversion from `Berlin` to `52.5170365,13.3888599`.

    _Reverse geocoding_ converts a coordinate to a textual address representation or place name. Find out more about Geocoding itself on [Wikipedia](http://en.wikipedia.org/wiki/Geocoding).
  name: Geocoding
- description: |
    An isochrone of a location is ''a line connecting points at which a vehicle arrives at the same time'', see Wikipedia.
    With the same API you can also calculate isodistances, just use the parameter distance_limit instead of time_limit`.

    Some possible areas in which this API may be useful to you:

    - real estate analysis
    - realtors
    - vehicle scheduling
    - geomarketing
    - reach of electric vehicles
    - transport planning
    - logistics (distribution and retail network planning)

    See the [clients](#section/API-Clients) section in the main documentation, and [our API explorer](https://explorer.graphhopper.com/).
  name: Isochrones
- description: |
    You can snap measured GPS points typically as GPX files to a digital
    road network to e.g. clean data or attach certain data like elevation or turn instructions to it.

    See the [clients](#section/API-Clients) section in the main documentation, and [our API explorer](https://explorer.graphhopper.com/).

    The cost for one request depends on the number of GPS location and is documented [here](https://graphhopper.com/api/1/docs/FAQ/).

    One request should not exceed the Map Matching API location limit depending on the package, see the pricing in our dashboard.
  name: Map Matching
- description: |
    It solves the “capacity clustering problem” by assigning a set of customers to a given number of distinct groups (called clusters).
    The API “clusters” by minimizing the total distance from each individual customer to its designated group median.
    It can also consider minimum and maximum capacity restrictions for each group.

    Clustering can be used in many practical applications.
    For example, it can help to plan territories, i.e. territory optimization for field teams with large territories for field workers,
    or to solve large vehicle routing problems (VRP).

    Try Clustering in our [API Explorer](https://explorer.graphhopper.com/)!

    The idea is to divide a certain number of customers, a pre-specified number of clusters. As already written above, a distribution is sought that minimizes the total cost (e.g. distance or time or a function of distance and time).
    We currently support two approaches.

    1. You can simply define a certain number of clusters via configuration ("clustering" with empty set of "clusters") and additionally how many customers should be in such a cluster.
    This is defined by an upper and lower limit ("min_quantity" and "max_quantity). The algorithm then searches for suitable clusters and divides the customers into these clusters.

    2. You can explicitly define clusters via "clusters". In this way, each individual cluster can be defined.
    This approach not only allows each cluster to have its own capacity upper and lower bound, but each cluster can also be assigned a fixed cluster center.
    In contrast to 1. the algorithm then does not search for a suitable center, but assigns the customers given the fixed centers to each cluster. Note that if you define clusters
    explicitly, any configuration of "clustering" will be overwritten by these explicit clusters.
  name: Clustering
- description: "\nA custom model allows you to modify the default routing behavior\
    \ of a vehicle profile by specifying a set of rules in JSON language.\nThere are\
    \ three JSON properties to change a profile: `priority`, `speed` and `distance_influence`\
    \ that are described in great detail in the next sections and you can get a quick\
    \ overview in this [example-driven blog post](https://www.graphhopper.com/blog/2020/05/31/examples-for-customizable-routing/).\n\
    \nBut first we will give an introductory example for each of these JSON properties.\
    \ Let's start with `speed`:\n\n```json\n{\n  \"speed\": [{\n    \"if\": \"road_class\
    \ == MOTORWAY\",\n    \"limit_to\": \"90\"\n  }]\n}\n```\n\nAs you might have\
    \ already guessed this limits the speed on motorways to 90km/h.\nChanging the\
    \ speed will of course change the travel time, but at the same time this makes\
    \ other road classes more likely as well, so you can use this model to avoid motorways.\n\
    \nYou can immediately try this out in the Browser [on GraphHopper Maps](https://graphhopper.com/maps/?point=50.856527%2C12.876127&point=51.02952%2C13.295603&profile=car&custom_model=%7B%22speed%22%3A%5B%7B%22if%22%3A%22road_class+=%3D+MOTORWAY%22%2C%22limit_to%22%3A%2290%22%7D%5D%7D).\n\
    GraphHopper Maps offers an interactive text editor to comfortably enter custom\
    \ models.\nYou can open it by pressing the \"custom\" button. It will check the\
    \ syntax of your custom model and mark errors in red. You can press\nCtrl+Space\
    \ or Alt+Enter to retrieve auto-complete suggestions. Pressing Ctrl+Enter will\
    \ send a routing request for the\ncustom model you entered. To disable the custom\
    \ model you click the \"custom\" button again.\n\n\nIn the second example we show\
    \ how to avoid certain road classes without changing the travel time:\n\n```json\n\
    {\n  \"priority\": [{\n    \"if\": \"road_class == LIVING_STREET || road_class\
    \ == RESIDENTIAL || road_class == UNCLASSIFIED\",\n    \"multiply_by\": \"0.1\"\
    \n  }]\n}\n```\n\nThis example avoids certain smaller streets. [View it in GraphHopper\
    \ Maps](https://graphhopper.com/maps/?point=51.125708%2C13.067915&point=51.125964%2C13.082271&profile=car&custom_model=%7B%22priority%22%3A%5B%7B%22if%22%3A%22road_class+=%3D+LIVING_STREET+%7C%7C+road_class+%3D%3D+RESIDENTIAL+%7C%7C+road_class+%3D%3D+UNCLASSIFIED%22%2C%22multiply_by%22%3A%220.1%22%7D%5D%7D).\n\
    \nThe third example shows how to prefer shortest paths:\n\n```json\n{\n  \"distance_influence\"\
    : 200\n}\n```\n\n[View this example in GraphHopper Maps](https://graphhopper.com/maps/?point=51.04188%2C13.057766&point=51.057527%2C13.068237&profile=car&custom_model=%7B%22distance_influence%22%3A200%7D).\n\
    \nThere is a fourth JSON property `areas` that allows you to define areas that\
    \ can then be used in the `if` or `else_if` conditions for `speed` and `priority`.\n\
    Please read more about this and the other properties below and try some examples\
    \ in\n[GraphHopper Maps](https://graphhopper.com/maps/) with the help of\n[this\
    \ blog post](https://www.graphhopper.com/blog/2020/05/31/examples-for-customizable-routing/).\n\
    \n\n## Customizing speed\n\nWhen using custom models you do not need to define\
    \ rules that specify a speed for every road segment, but rather GraphHopper\n\
    assumes a default speed. All you need to do is adjust this default speed to your\
    \ use-case as you will always use the custom \nmodel in conjunction with a routing\
    \ profile which is used to determine the default speed.\n\nThe custom model is\
    \ a JSON object and the first property we will learn about here is the `speed`\
    \ property. The `speed`\nproperty's value is a list of conditional statements\
    \ that modify the default speed. Every such statement consists of a\ncondition\
    \ and an operation. The different statements are applied to the default speed\
    \ from top to bottom, i.e.\nstatements that come later in the list are applied\
    \ to the resulting value of previous operations. Each statement is only\nexecuted\
    \ if the corresponding condition applies for the current road segment. This will\
    \ become more clear in the following\nexamples.\n\nCurrently the custom model\
    \ language supports two operators:\n\n- `multiply_by` multiplies the speed value\
    \ with a given number\n- `limit_to` limits the speed value to a given number\n\
    \n#### Conditional multiplication\n\nLet's start with a simple example using `multiply_by`:\n\
    \n```json\n{\n  \"speed\": [\n    {\n      \"if\": \"road_class == MOTORWAY\"\
    ,\n      \"multiply_by\": \"0.5\"\n    }\n  ]\n}\n```\n\nThis custom model reduces\
    \ the speed of every road segment for which the `road_class` attribute is `MOTORWAY`\
    \ to\nfifty percent of the default speed (the default speed is multiplied by `0.5`).\
    \ Again, the default speed is the speed\nthat GraphHopper would normally use for\
    \ the profile's vehicle. Note the `if` clause which means that the operation\n\
    (`multiply_by`) is only applied *if* the condition `road_class == MOTORWAY` is\
    \ fulfilled for the road segment under\nconsideration. The `==` indicates equality,\
    \ i.e. the condition reads \"the road_class equals MOTORWAY\". If you're a bit\n\
    familiar with programming note that the condition (the value of the `if` key)\
    \ is just a boolean condition in Java\nlanguage (other programming languages like\
    \ C or JavaScript are very similar in this regard). A more complex condition\n\
    could look like this: `road_class == PRIMARY || road_class == TERTIARY` which\
    \ uses the **or**\n(`||`) operator and literally means \"road_class equals PRIMARY\
    \ or road_class equals TERTIARY\".\n\nThere can be multiple such 'if statements'\
    \ in the speed section, and they are evaluated from top to bottom:\n\n```json\n\
    {\n  \"speed\": [\n    {\n      \"if\": \"road_class == MOTORWAY\",\n      \"\
    multiply_by\": \"0.5\"\n    },\n    {\n      \"if\": \"road_class == PRIMARY ||\
    \ road_environment == TUNNEL\",\n      \"multiply_by\": \"0.7\"\n    }\n  ]\n\
    }\n```\n\nIn this example the default speed of road segments with `road_class\
    \ == MOTORWAY` will be multiplied by `0.5`, the default speed\nof road segments\
    \ with `road_class == PRIMARY` will be multiplied by `0.7` and for road segments\
    \ with both `road_class == MOTORWAY` and\n`road_environment == TUNNEL` the default\
    \ speed will be multiplied first by `0.5` and then by `0.7`. So overall the\n\
    default speed will be multiplied by `0.35`. For road segments with `road_class\
    \ == PRIMARY` and `road_environment == TUNNEL` we\nonly multiply by `0.7`, even\
    \ though both parts of the second condition apply. It only matters whether the\
    \ road segment matches\nthe condition or not.\n\n`road_class` and `road_environment`\
    \ are road attributes of 'enum' type, i.e. their value can only be one of a fixed\
    \ set of\nvalues, like `MOTORWAY` for `road_class`.\n\nOther road attributes like\
    \ `road_class_link` are of `boolean` type. They can be used as conditions directly,\
    \ for example:\n\n```json\n{\n  \"speed\": [\n    {\n      \"if\": \"road_class_link\"\
    ,\n      \"multiply_by\": \"0.6\"\n    }\n  ]\n}\n```\n\nwhich means that for\
    \ road segments with `road_class_link==true` the speed factor will be `0.6`.\n\
    \nFor attributes with numeric values, like `max_width` you should not use the\
    \ `==` (equality) or `!=` (\ninequality) operators, but the numerical comparison\
    \ operators \"bigger\" `>`, \"bigger or equals\" `>=`, \"smaller\" `<`, or\n\"\
    smaller or equals\" `<=`, e.g.:\n\n```json\n{\n  \"speed\": [\n    {\n      \"\
    if\": \"max_width < 2.5\",\n      \"multiply_by\": \"0.8\"\n    }\n  ]\n}\n```\
    \ \n\nwhich means that for all road segments with `max_width` smaller than `2.5m`\
    \ the speed is multiplied by `0.8`.\n\n\n### Conditional capping\n\nBesides the\
    \ `multiply_by` operator there is also the `limit_to` operator. As the name suggests\
    \ `limit_to` limits the\ncurrent value to the given value. Take this example:\n\
    \n```json\n{\n  \"speed\": [\n    {\n      \"if\": \"road_class == MOTORWAY\"\
    ,\n      \"multiply_by\": \"0.8\"\n    },\n    {\n      \"if\": \"surface == GRAVEL\"\
    ,\n      \"limit_to\": \"60\"\n    }\n  ]\n}\n```\n\nThis implies that on all\
    \ road segments with the `GRAVEL` value for `surface` the speed will be at most\
    \ `60km/h`,\nregardless of the default speed and the previous rules. So for a\
    \ road segment with `road_class == MOTORWAY`,\n`surface == GRAVEL` and default\
    \ speed `100` the first statement reduces the speed from `100` to `80` and the\
    \ second\nstatement further reduces the speed from `80` to `60`. If the `road_class`\
    \ was `PRIMARY` and the default speed was `50`\nthe first rule would not apply\
    \ and the second rule would do nothing, because limiting `50` to `60` still yields\
    \ `50`.\n\nA common use-case for the `limit_to` operation is the following pattern:\n\
    \n```json\n{\n  \"speed\": [\n    {\n      \"if\": \"true\",\n      \"limit_to\"\
    : \"90\"\n    }\n  ]\n}\n```\n\nwhich means that the speed is limited to `90km/h`\
    \ for all road segments regardless of its properties. The condition\n\"`true`\"\
    \ is always fulfilled.\n\n### Conditionals with multiple branches\n\nThe `else`\
    \ statement allows you to define that some operations should be applied if an\
    \ road segment does **not** match a\ncondition. So this example:\n\n```json\n\
    {\n  \"speed\": [\n    {\n      \"if\": \"road_class == MOTORWAY\",\n      \"\
    multiply_by\": \"0.5\"\n    },\n    {\n      \"else\": \"\",\n      \"limit_to\"\
    : \"50\"\n    }\n  ]\n}\n```\n\nmeans that for all road segments with `road_class\
    \ == MOTORWAY` we multiply the default speed by `0.5` and for all others we\n\
    limit the default speed to `50` (but never both).\n\nIn case you want to distinguish\
    \ more than two cases (road segments that match or match not a condition) you\
    \ can use `else_if`\nstatements which are only evaluated in case the previous\
    \ `if` or `else_if` statement did **not** match:\n\n```json\n{\n  \"speed\": [\n\
    \    {\n      \"if\": \"road_class == MOTORWAY\",\n      \"multiply_by\": \"0.5\"\
    \n    },\n    {\n      \"else_if\": \"road_environment == TUNNEL\",\n      \"\
    limit_to\": \"70\"\n    },\n    {\n      \"else\": \"\",\n      \"multiply_by\"\
    : \"0.9\"\n    }\n  ]\n}\n```\n\nSo if the first condition matches (`road_class\
    \ == MOTORWAY`) the default speed is multiplied by `0.5`, but the other two\n\
    statements are ignored. Only if the first statement does not match (e.g. `road_class\
    \ == PRIMARY`) the second statement\nis even considered and only if it matches\
    \ (`road_environment == TUNNEL`) the default speed is limited to 70. The last\n\
    operation (`multiply_by: \"0.9\"`) is only applied if both previous conditions\
    \ did not match.\n\n`else` and `else_if` statements always require a preceding\
    \ `if` or `else_if` statement. However, there can be multiple\n'blocks' of subsequent\
    \ `if/else_if/else` statements in the list of rules for `speed`.\n\n`else_if`\
    \ is useful for example in case you have multiple `multiply_by` operations, but\
    \ you do not want that the speed\ngets reduced by all of them. For the following\
    \ model\n\n```json\n{\n  \"speed\": [\n    {\n      \"if\": \"road_class == MOTORWAY\"\
    ,\n      \"multiply_by\": \"0.5\"\n    },\n    {\n      \"else_if\": \"road_environment\
    \ == TUNNEL\",\n      \"multiply_by\": \"0.8\"\n    }\n  ]\n}\n```\n\nonly the\
    \ first factor (`0.5`) will be applied even for road segments that fulfill both\
    \ conditions.\n\n## Limit rules to certain areas\n\nYou can not only modify the\
    \ speed of road segments based on properties, like we saw in the previous examples,\
    \ but you\ncan also modify the speed of road segments based on their location.\
    \ To do this you need to first create and add some\nareas to the `areas` section\
    \ of the custom model. You can then use the name of these areas in the conditions\
    \ of your\n`if/else/else_if` statements.\n\nIn the following example we multiply\
    \ the speed of all road segments in an area called `custom1` with `0.7` and also\
    \ limit it\nto `50km/h`. Note that each area's name needs to be prefixed with\
    \ `in_`:\n\n```json\n{\n  \"speed\": [\n    {\n      \"if\": \"in_custom1\",\n\
    \      \"multiply_by\": \"0.7\"\n    },\n    {\n      \"if\": \"in_custom1\",\n\
    \      \"limit_to\": \"50\"\n    }\n  ],\n  \"areas\": {\n    \"type\": \"FeatureCollection\"\
    ,\n    \"features\": [{\n      \"type\": \"Feature\",\n      \"id\": \"custom1\"\
    ,\n      \"geometry\": {\n        \"type\": \"Polygon\",\n        \"coordinates\"\
    : [\n          [\n            [\n              1.525,\n              42.511\n\
    \            ],\n            [\n              1.510,\n              42.503\n \
    \           ],\n            [\n              1.531,\n              42.495\n  \
    \          ],\n            [\n              1.542,\n              42.505\n   \
    \         ],\n            [\n              1.525,\n              42.511\n    \
    \        ]\n          ]\n        ]\n      }\n    }]\n  }\n}\n```\n\nAreas are\
    \ given in GeoJson format (FeatureCollection). Currently a member of this collection\
    \ must be a `Feature` with a\ngeometry type `Polygon`. Note that the coordinates\
    \ array of `Polygon` is an array of arrays that\neach must describe a closed ring,\
    \ i.e. the first point must be equal to the last, identical to the GeoJSON specs.\n\
    Each point is given as an array [longitude, latitude], so the `coordinates` array\
    \ has three dimensions total.\n\nUsing the `areas` feature you can also block\
    \ entire areas i.e. by multiplying the speed with `0`, but for this you\nshould\
    \ rather use the `priority` section that we will explain next.\n\n## Customizing\
    \ priority\n\nMake sure you read the introductory section of this document to\
    \ learn what the `priority` factor means. In short it\nallows similar modifications\
    \ as `speed`, but instead of modifying the road segment weights *and* travel times\
    \ it will only\naffect the weights. By default, the priority is `1` for every\
    \ road segment, so it does not affect the weight. However,\nchanging the priority\
    \ of a road can yield a relative weight difference in comparison to other roads.\n\
    \nCustomizing the `priority` works very much like changing the `speed`, so in\
    \ case you did not read the section about\n`speed` you should go back there and\
    \ read it now. The only real difference is that there is no `limit_to` operator\
    \ for\n`priority`. As a quick reminder here is an example for priority:\n\n```json\n\
    {\n  \"priority\": [\n    {\n      \"if\": \"road_class == MOTORWAY\",\n     \
    \ \"multiply_by\": \"0.5\"\n    },\n    {\n      \"else_if\": \"road_class ==\
    \ SECONDARY\",\n      \"multiply_by\": \"0.9\"\n    },\n    {\n      \"if\": \"\
    road_environment == TUNNEL\",\n      \"multiply_by\": \"0.1\"\n    }\n  ]\n}\n\
    ```\n\nmeans that road segments with `road_class==MOTORWAY` and `road_environment==TUNNEL`\
    \ get priority `0.5*0.1=0.05` and\nthose with `road_class==SECONDARY` and no TUNNEL,\
    \ get priority `0.9` and so on.\n\nEdges with lower priority values will be less\
    \ likely part of the optimal route calculated by GraphHopper, higher values\n\
    mean that these road segments shall be preferred. If you do not want to state\
    \ which road segments shall be avoided, but\nrather which ones shall be preferred,\
    \ you need to **decrease** the priority of others:\n\n```json\n{\n  \"priority\"\
    : [\n    {\n      \"if\": \"road_class != CYCLEWAY\",\n      \"multiply_by\":\
    \ \"0.8\"\n    }\n  ]\n}\n```\n\nmeans decreasing the priority for all road_classes\
    \ *except* cycleways.\n\nJust like we saw for `speed` you can also adjust the\
    \ priority for road segments in a certain area. It works exactly the\nsame way:\n\
    \n```json\n{\n  \"priority\": [\n    {\n      \"if\": \"in_custom1\",\n      \"\
    multiply_by\": \"0.7\"\n    }\n  ]\n}\n```\n\nTo block an entire area set the\
    \ priority value to `0`. You can even set the priority only for certain roads\
    \ in an area\nlike this:\n\n```json\n{\n  \"priority\": [\n    {\n      \"if\"\
    : \"road_class == MOTORWAY && in_custom1\",\n      \"multiply_by\": \"0.1\"\n\
    \    }\n  ]\n}\n```\n\nSome other useful attributes to restrict access to certain\
    \ roads depending on your vehicle dimensions are the\nfollowing:\n\n```json\n\
    {\n  \"priority\": [\n    {\n      \"if\": \"max_width < 2.5\",\n      \"multiply_by\"\
    : \"0\"\n    },\n    {\n      \"if\": \"max_length < 10\",\n      \"multiply_by\"\
    : \"0\"\n    },\n    {\n      \"if\": \"max_weight < 3.5\",\n      \"multiply_by\"\
    : \"0\"\n    }\n  ]\n}\n```\n\nwhich means that the priority for all road segments\
    \ that allow a maximum vehicle width of `2.5m`, a maximum vehicle\nlength of `10m`\
    \ or a maximum vehicle weight of `3.5tons`, or less, is zero, i.e. these \"narrow\"\
    \ road segments are\nblocked.\n\n## Customizing distance_influence\n\nThe `distance_influence`\
    \ property allows you to control the trade-off between a fast route (minimum time)\
    \ and a short route\n(minimum distance). The larger `distance_influence` is the\
    \ more GraphHopper will prioritize routes with a small\ntotal distance. More precisely,\
    \ the `distance_influence` is the time you need to save on a detour (a longer\
    \ distance\nroute option) such that you prefer taking the detour compared to a\
    \ shorter route. Please note that this value is a number, not a string.\n\nA value\
    \ of `100` means that one extra kilometer of detour must save you `100s` of travelling\
    \ time or else you are not \nwilling to take the detour. Or to put it another\
    \ way, if a reference route takes `600s` and is `10km` long, \n`distance_influence=100`\
    \ means that you are willing to take an alternative route that is `11km` long\
    \ only if \nit takes no longer than `500s` (saves `100s`). Things get a bit more\
    \ complicated when `priority` is not `1`, but the \neffect stays the same: The\
    \ larger `distance_influence` is, the more GraphHopper will focus on finding short\
    \ routes.\n\n\n## Road attributes\n\nGraphHopper stores different attributes for\
    \ every road segment. Some frequently used are the following (some of their possible\
    \ values are given in brackets):\n\n- road_class: (OTHER, MOTORWAY, TRUNK, PRIMARY,\
    \ SECONDARY, TRACK, STEPS, CYCLEWAY, FOOTWAY, ...)\n- road_environment: (ROAD,\
    \ FERRY, BRIDGE, TUNNEL, ...)\n- road_access: (DESTINATION, DELIVERY, PRIVATE,\
    \ NO, ...)\n- surface: (PAVED, DIRT, SAND, GRAVEL, ...)\n- smoothness: (EXCELLENT,\
    \ GOOD, INTERMEDIATE, ...)\n- toll: (MISSING, NO, HGV, ALL)\n- bike_network, foot_network:\
    \ (MISSING, INTERNATIONAL, NATIONAL, REGIONAL, LOCAL, OTHER)\n- country: (`MISSING`\
    \ or the country as a `ISO3166-1:alpha3` code e.g. `DEU`)\n- hazmat: (YES, NO),\
    \ hazmat_tunnel: (A, B, .., E), hazmat_water: (YES, PERMISSIVE, NO)\n- hgv: (MISSING,\
    \ YES, DESIGNATED, ...)\n- track_type: (MISSING, GRADE1, GRADE2, ..., GRADE5)\n\
    - urban_density: (RURAL, RESIDENTIAL, CITY)\n\n\nTo learn about all available\
    \ encoded values you can query the `/info` endpoint\n\nBesides this kind of categories,\
    \ which can take multiple different string values, there are also some that represent\
    \ a\nboolean value (they are either true or false for a given road segment), like:\n\
    \n- road_class_link\n- roundabout\n\nThere are also some that take on a numeric\
    \ value, like:\n\n- average_slope: a number for 100 * \"elevation change\" / edge_distance\
    \ for a road segment; it changes the sign in reverse direction; see also max_slope\n\
    - curvature: \"beeline distance\" / edge_distance (0..1) e.g. a curvy road is\
    \ smaller than 1\n- hike_rating, horse_rating, mtb_rating: a number from 0 to\
    \ 6 for the `sac_scale` in OSM, e.g. 0 means \"missing\", 1 means \"hiking\",\
    \ 2 means \"mountain_hiking\" and so on\n- lanes: number of lanes\n- max_slope:\
    \ an unsigned decimal for the maximum slope (100 * \"elevation change / distance_i\"\
    ) of an edge with `sum(distance_i)=edge_distance`. Important for longer road segments\
    \ where ups (or downs) can be much bigger than the average_slope.\n- max_speed:\
    \ the speed limit from a sign (km/h)\n- max_height (meter), max_width (meter),\
    \ max_length (meter)\n- max_weight (ton), max_axle_load (in tons)\n\n\n## Limitations\n\
    \nYou can directly use custom models with the [POST Route Endpoint](#operation/postRoute).\n\
    \nTo use custom models with the Route Optimization API or the Matrix API, use\
    \ the [Profiles API](#tag-API)\nto create a new named profile with your custom\
    \ model. You can then use that profile like you\nwould use a pre-defined profile.\n\
    \nThis feature will strongly benefit from feedback, so do not hesitate to share\
    \ your experience, your favorite custom\nmodel or some of the problems you ran\
    \ into when you tried building your own custom model.\n\n## Troubleshooting\n\n\
    ### Recommendations\n\nFor debugging you can use the custom model editor in [GraphHopper\
    \ Maps](https://graphhopper.com/maps/) (click the 'gear' button in the top left).\n\
    \nWhen debugging problems with custom models you should first try if your request\
    \ goes through without an error using an empty custom model.\n\n### Route calculation\
    \ is slower\n\nThe route calculation with custom_models will be slower as a different\
    \ algorithm has to be used. The more the result deviates from the optimum the\
    \ slower the response can get.\n\nFor certain use cases you can make the route\
    \ calculation faster when you tune the `custom_model` and e.g. exclude certain\
    \ ways via `{ \"if\": \"road_class == TRACK || road_class == RESIDENTIAL\", \"\
    multiply_by\": \"0\" }` in the `priority`.\n\nIf this is still not sufficient\
    \ and you need even faster response times, you can use the parameter `astarbi.epsilon`\
    \ (`>=1`). This enables a heuristic that speeds up routing \nbut may occasionally\
    \ cause unwanted detours. The closer this value is to 1, the nearer the route\
    \ is to optimal.\nIn practice, a value 1.3-1.4 provides good speed improvements\
    \ (10-20%) while causing little to no deviation from the optimal route in most\
    \ cases.\n\n### All routes for my custom model fail\n\nThis could mean that either\
    \ your custom model made some of the roads near the start and destination inaccessible,\
    \ \nthen usually we return a PointNotFoundException with the point_index with\
    \ the \"location snap\" problem.\n\nOr, the custom model made a route between\
    \ your start and destination impossible, then we return a ConnectionNotFoundException.\
    \ This happens e.g. when you exclude tunnels, \nferries or motorways but all routes\
    \ between start and destination have these road attributes satisfied, i.e. we\
    \ cannot find a route.\n\n**Solution for both cases**: relax your custom model\
    \ and e.g. instead of excluding certain road attributes via `\"multiply_by\":\
    \ \"0\"` you should try to use `\"0.01\"`.\n"
  name: Custom Model
- description: |2

    You can create routing profiles that are customized to your needs. You can take advantage of
    all the modelling options described in the [Custom Model section](#tag/Custom-Model) and use the created custom profile (prefix `cp_`)
    with our Routing, Matrix and Route Optimization APIs.

    **Important notes**

     * Each custom profile is limited to a geographic area boundary. Within this boundary there is maximum flexibility for adjusting the profile and you can expect fast response times.
     * Currently this feature is only available to selected customers and customers with a premium package. If you are interested please [contact us](https://www.graphhopper.com/contact-form/).
     * This feature is currently in beta status. It is fully functional, but the API might change in the future. Changes will of course be announced well in advance.
     * You can use the following profiles as base profile: `car`, `bike`, `foot` and `ecargobike`. Contact us if you have different requirements. Motor vehicles can be emulated like done for `truck` in [this post](https://discuss.graphhopper.com/t/7632/2).

    A curl example:

    ```
    curl -X POST -H "Content-Type: application/json" "https://graphhopper.com/api/1/profiles?key=YOUR_KEY" -d '{"bounds":{"bbox":[11.45462,48.00954,11.77322,48.2076]},"custom_model":{"priority":[{"if":"road_class == MOTORWAY","multiply_by":"0"}]},"profile":"car"}'
    ```

    If you plan to tweak your custom_model frequently it is recommended to initially use the Routing API where a different custom model can be specified in every request.
    Or use [GraphHopper Maps](https://graphhopper.com/maps/) and click the gear button.

    **Creating custom profiles using the API Explorer**

    Besides using the `/profiles` endpoint directly you can also create custom profiles from [our API explorer](https://explorer.graphhopper.com/).

    ![The API Explorer's Profiles Section](./img/create-profiles-example-customize.png)

     1. Visit the [API explorer](https://explorer.graphhopper.com/?endpoint=profiles).
     2. Set your API key with the "API key" button. If an error occurs we might have to activate custom profiles for your account before you can continue. [Contact us](https://www.graphhopper.com/contact-form/).
     2. Now copy and paste the JSON to create a custom profile into the input window. To get started you can use the already pre-filled example, which will create a
        custom profile that excludes motorways and is limited to the Munich area.
     3. Click "Send". This creates a custom profile. Copy the returned `id` from the output window (it starts with `cp_`).
     4. To try this profile out you now change the drop down to "Optimization API", pick the first example and replace "car" in `"profile": "car"` (`vehicle_types` section) with the profile `id` and click "Send":

    ![The API Explorer's Optimization Section](./img/create-profiles-example-vrp.png)

    You should now see that the solution no longer uses motorways. Keep in mind that this is a simple example.
    The custom model language is a lot more powerful than this. Make sure you read the [Custom Model section](#tag/Custom-Model) to learn about all the details.

    Note that you can use the profile `id` just as well for the `/matrix` or `/route` endpoint. E.g. select "Routing API"
    and use the profile `id` in the request:

    ![The API Explorer's Routing Section](./img/create-profiles-example-routing.png)
  name: Custom Profiles
paths:
  /route:
    get:
      description: "For the GET request you specify the parameters in the URL and\
        \ can try it directly in every browser.\nHowever, it has some disadvantages\
        \ when using many points (URL length limit) and the [`custom_model` Feature](#tag/Custom-Model)\
        \ cannot be used. \nTherefore, our recommended endpoint is the [POST route\
        \ endpoint](#operation/postRoute).\n"
      operationId: getRoute
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: '#/components/schemas/VehicleProfileId'
        style: form
      - description: |
          The points for which the route should be calculated. Format: `latitude,longitude`. Specify at least an origin and a destination. Via points are possible.
          The maximum number depends on your plan.
        example:
        - "51.131,12.414"
        - "48.224,3.867"
        explode: true
        in: query
        name: point
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          The `point_hint` is typically a road name to which the associated `point` parameter should be snapped to. Specify no `point_hint` parameter or the same number as you have `point` parameters.
        explode: true
        in: query
        name: point_hint
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Optional parameter. 'Snapping' is the process of finding the closest road location for GPS coordinates provided in the `point` parameter. The `snap_prevention` parameter allows you to prevent snapping to specific types of roads. For example, if `snap_prevention` is set to bridge, the routing engine will avoid snapping to a bridge, even if it is the closest road for the given `point`. Current supported values: `motorway`, `trunk`, `ferry`, `tunnel`, `bridge` and `ford`. Multiple values are specified like `snap_prevention=ferry&snap_prevention=motorway`. Note that once snapped the routing algorithm can still route over bridges (or the other values). To avoid this you need to use the `custom_model`.
        explode: true
        in: query
        name: snap_prevention
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Optional parameter. It specifies on which side a point should be relative to the driver when she leaves/arrives at a start/target/via point. You need to specify this parameter for either none or all points. Only supported for motor vehicles and OpenStreetMap.
        explode: true
        in: query
        name: curbside
        required: false
        schema:
          items:
            enum:
            - any
            - right
            - left
            type: string
          type: array
        style: form
      - description: |
          The locale of the resulting turn instructions. E.g. `pt_PT` for Portuguese or `de` for German.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          type: string
        style: form
      - description: |
          If `true`, a third coordinate, the altitude, is included with all positions in the response.
          This changes the format of the `points` and `snapped_waypoints` fields of the response, in both their
          encodings. Unless you switch off the `points_encoded` parameter, you need special code on the
          client side that can handle three-dimensional coordinates.
        explode: true
        in: query
        name: elevation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Optional parameter. The following path details are available:\
          \ `street_name`, `street_ref`, `street_destination`, `leg_time`, `leg_distance`,\
          \ `roundabout`, `country`, `time`, `distance`, `max_speed`,\n`max_weight`,\
          \ `max_width`, `toll`, `road_class`, `road_class_link`, `road_access`, `road_environment`,\
          \ `hazmat`, `hazmat_tunnel`, `hazmat_water`, \n`lanes`, `surface`, `smoothness`,\
          \ `hike_rating`, `mtb_rating`, `foot_network`, `bike_network`. Read more\
          \ about the usage of path details [here](https://discuss.graphhopper.com/t/2539).\n"
        explode: true
        in: query
        name: details
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Normally, the calculated route will visit the points in the order you specified them.
          If you have more than two points, you can set this parameter to `"true"` and the points may be re-ordered to minimize the total travel time.
          Keep in mind that the limits on the number of locations of the Route Optimization API applies, and the request costs more credits.
        explode: true
        in: query
        name: optimize
        required: false
        schema:
          default: "false"
          type: string
        style: form
      - description: |
          If instructions should be calculated and returned
        explode: true
        in: query
        name: instructions
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          If the points for the route should be calculated at all.
        explode: true
        in: query
        name: calc_points
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          If `true`, the output will be formatted.
        explode: true
        in: query
        name: debug
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Allows changing the encoding of location data in the response. The default is polyline encoding, which is compact
          but requires special client code to unpack. (We provide it in our JavaScript client library!)
          Set this parameter to `false` to switch the encoding to simple coordinate pairs like `[lon,lat]`, or `[lon,lat,elevation]`.
          See the description of the response format for more information.
        explode: true
        in: query
        name: points_encoded
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Combine this parameter with any of the following options below.
        explode: true
        in: query
        name: ch.disable
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: |
          Favour a heading direction for a certain point. Specify either one heading for the start point or as many as there are points.
          In this case headings are associated by their order to the specific points. Headings are given as north based clockwise angle between 0 and 360 degree.
          This parameter also influences the tour generated with `algorithm=round_trip` and forces the initial direction.  Requires `ch.disable=true`.
        explode: true
        in: query
        name: heading
        required: false
        schema:
          items:
            format: int32
            type: integer
          type: array
        style: form
      - description: |
          Time penalty in seconds for not obeying a specified heading. Requires `ch.disable=true`.
        explode: true
        in: query
        name: heading_penalty
        required: false
        schema:
          default: 300
          format: int32
          type: integer
        style: form
      - description: |
          If `true`, u-turns are avoided at via-points with regard to the `heading_penalty`. Requires `ch.disable=true`.
        explode: true
        in: query
        name: pass_through
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Rather than looking for the shortest or fastest path, this parameter\
          \ lets you solve two different problems related to routing:\nWith `alternative_route`,\
          \ we give you not one but several routes that are close to optimal, but\n\
          not too similar to each other. \nWith `round_trip`, the route will get you\
          \ back to where you started. This is meant for fun (think of\na bike trip),\
          \ so we will add some randomness. The `round_trip` option requires `ch.disable=true`.\n\
          You can control both of these features with additional parameters, see below.\
          \ \n"
        explode: true
        in: query
        name: algorithm
        required: false
        schema:
          enum:
          - round_trip
          - alternative_route
          type: string
        style: form
      - description: |
          If `algorithm=round_trip`, this parameter configures approximative length of the resulting round trip. Requires `ch.disable=true`.
        explode: true
        in: query
        name: round_trip.distance
        required: false
        schema:
          default: 10000
          format: int32
          type: integer
        style: form
      - description: |
          If `algorithm=round_trip`, this sets the random seed. Change this to get a different tour for each value.
        explode: true
        in: query
        name: round_trip.seed
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          If `algorithm=alternative_route`, this parameter sets the number of maximum paths which should be calculated. Increasing can lead to worse alternatives.
        explode: true
        in: query
        name: alternative_route.max_paths
        required: false
        schema:
          default: 2
          format: int32
          type: integer
        style: form
      - description: |
          If `algorithm=alternative_route`, this parameter sets the factor by which the alternatives routes can be longer than the optimal route. Increasing can lead to worse alternatives.
        explode: true
        in: query
        name: alternative_route.max_weight_factor
        required: false
        schema:
          default: 1.4
          type: number
        style: form
      - description: |
          If `algorithm=alternative_route`, this parameter specifies how similar an alternative route can be to the optimal route. Increasing can lead to worse alternatives.
        explode: true
        in: query
        name: alternative_route.max_share_factor
        required: false
        schema:
          default: 0.6
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                hints:
                  visited_nodes.sum: 58
                  visited_nodes.average: 58
                info:
                  copyrights:
                  - GraphHopper
                  - OpenStreetMap contributors
                  took: 2
                paths:
                - distance: 1791.011
                  weight: 307.852443
                  time: 370962
                  transfers: 0
                  points_encoded: false
                  bbox:
                  - 11.539424
                  - 48.118343
                  - 11.558901
                  - 48.122364
                  points:
                    type: LineString
                    coordinates:
                    - - 11.539424
                      - 48.118352
                    - - 11.540387
                      - 48.118368
                    - - 11.54061
                      - 48.118356
                    - - 11.541941
                      - 48.118409
                    - - 11.543696
                      - 48.118344
                    - - 11.547167
                      - 48.118343
                    - - 11.548478
                      - 48.118366
                    - - 11.548487
                      - 48.119329
                    - - 11.548807
                      - 48.119328
                    - - 11.549408
                      - 48.119366
                    - - 11.550349
                      - 48.119508
                    - - 11.550441
                      - 48.119473
                    - - 11.551109
                      - 48.119467
                    - - 11.551553
                      - 48.119445
                    - - 11.551748
                      - 48.119398
                    - - 11.552087
                      - 48.119475
                    - - 11.552236
                      - 48.119542
                    - - 11.552353
                      - 48.119635
                    - - 11.553853
                      - 48.121136
                    - - 11.555448
                      - 48.12039
                    - - 11.555797
                      - 48.120206
                    - - 11.55632
                      - 48.120592
                    - - 11.556716
                      - 48.120919
                    - - 11.557326
                      - 48.121345
                    - - 11.558901
                      - 48.122364
                  instructions:
                  - distance: 672.954
                    heading: 89.04
                    sign: 0
                    interval:
                    - 0
                    - 6
                    text: Continue onto Lindenschmitstraße
                    time: 144703
                    street_name: Lindenschmitstraße
                  - distance: 107.145
                    sign: -2
                    interval:
                    - 6
                    - 7
                    text: Turn left
                    time: 22675
                    street_name: ""
                  - distance: 140.169
                    sign: 2
                    interval:
                    - 7
                    - 10
                    text: Turn right onto Oberländerstraße
                    time: 28032
                    street_name: Oberländerstraße
                  - distance: 360.232
                    sign: 1
                    interval:
                    - 10
                    - 18
                    text: Turn slight right
                    time: 72677
                    street_name: ""
                  - distance: 177.621
                    sign: 2
                    interval:
                    - 18
                    - 20
                    text: Turn right onto Thalkirchner Straße
                    time: 35524
                    street_name: Thalkirchner Straße
                  - distance: 332.89
                    sign: -2
                    interval:
                    - 20
                    - 24
                    text: Turn left onto Thalkirchner Straße
                    time: 67351
                    street_name: Thalkirchner Straße
                  - distance: 0
                    sign: 4
                    last_heading: 45.67046584987792
                    interval:
                    - 24
                    - 24
                    text: Arrive at destination
                    time: 0
                    street_name: ""
                  legs: []
                  details: {}
                  ascend: 6.3294677734375
                  descend: 25.0579833984375
                  snapped_waypoints:
                    type: LineString
                    coordinates:
                    - - 11.539424
                      - 48.118352
                    - - 11.558901
                      - 48.122364
              schema:
                $ref: '#/components/schemas/RouteResponse'
          description: Routing Result
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: "Your request is not valid. For example, you specified too\
            \ few or too many points."
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Authentication necessary
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: API limit reached.
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Internal server error. We get notified automatically and fix
            this asap.
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
      summary: Calculate a route
      tags:
      - Routing
      x-codeSamples:
      - lang: curl
        source: "curl \"https://graphhopper.com/api/1/route?point=51.131,12.414&point=48.224,3.867&profile=car&locale=de&calc_points=false&key=api_key\""
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient();
          Request request = new Request.Builder()
                  .url("https://graphhopper.com/api/1/route?point=51.131,12.414&point=48.224,3.867&profile=car&locale=de&calc_points=false&key=api_key")
                  .get()
                  .build();

          Response response = client.newCall(request).execute();
    post:
      description: "To do a request you send JSON data. \n\nSee the [GET endpoint](#operation/getRoute)\
        \ for an alternative query method which is slightly simpler to get started\
        \ but has some disadvantages.\n\n**Please note that in contrast to the GET\
        \ endpoint, points are specified in the order of `[longitude, latitude]`**\
        \ and some parameter names use the plural.\nFor example the string `point=10,11&point=20,22`\
        \ will be converted to the `points` array (plural):\n```json\n{ \"points\"\
        : [[11,10], [22,20]] }\n```\nSo this `points` array uses a format similar\
        \ to [GeoJson](http://geojson.org/geojson-spec.html#examples).\n\nExample:\n\
        ```bash\ncurl -X POST -H \"Content-Type: application/json\" \"https://graphhopper.com/api/1/route?key=[YOUR_KEY]\"\
        \ -d '{\"elevation\":false,\"points\":[[-0.087891,51.534377],[-0.090637,51.467697]],\"\
        profile\":\"car\"}'\n```\n"
      operationId: postRoute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteRequest'
      responses:
        "200":
          content:
            application/json:
              example:
                hints:
                  visited_nodes.sum: 58
                  visited_nodes.average: 58
                info:
                  copyrights:
                  - GraphHopper
                  - OpenStreetMap contributors
                  took: 2
                paths:
                - distance: 1791.011
                  weight: 307.852443
                  time: 370962
                  transfers: 0
                  points_encoded: false
                  bbox:
                  - 11.539424
                  - 48.118343
                  - 11.558901
                  - 48.122364
                  points:
                    type: LineString
                    coordinates:
                    - - 11.539424
                      - 48.118352
                    - - 11.540387
                      - 48.118368
                    - - 11.54061
                      - 48.118356
                    - - 11.541941
                      - 48.118409
                    - - 11.543696
                      - 48.118344
                    - - 11.547167
                      - 48.118343
                    - - 11.548478
                      - 48.118366
                    - - 11.548487
                      - 48.119329
                    - - 11.548807
                      - 48.119328
                    - - 11.549408
                      - 48.119366
                    - - 11.550349
                      - 48.119508
                    - - 11.550441
                      - 48.119473
                    - - 11.551109
                      - 48.119467
                    - - 11.551553
                      - 48.119445
                    - - 11.551748
                      - 48.119398
                    - - 11.552087
                      - 48.119475
                    - - 11.552236
                      - 48.119542
                    - - 11.552353
                      - 48.119635
                    - - 11.553853
                      - 48.121136
                    - - 11.555448
                      - 48.12039
                    - - 11.555797
                      - 48.120206
                    - - 11.55632
                      - 48.120592
                    - - 11.556716
                      - 48.120919
                    - - 11.557326
                      - 48.121345
                    - - 11.558901
                      - 48.122364
                  instructions:
                  - distance: 672.954
                    heading: 89.04
                    sign: 0
                    interval:
                    - 0
                    - 6
                    text: Continue onto Lindenschmitstraße
                    time: 144703
                    street_name: Lindenschmitstraße
                  - distance: 107.145
                    sign: -2
                    interval:
                    - 6
                    - 7
                    text: Turn left
                    time: 22675
                    street_name: ""
                  - distance: 140.169
                    sign: 2
                    interval:
                    - 7
                    - 10
                    text: Turn right onto Oberländerstraße
                    time: 28032
                    street_name: Oberländerstraße
                  - distance: 360.232
                    sign: 1
                    interval:
                    - 10
                    - 18
                    text: Turn slight right
                    time: 72677
                    street_name: ""
                  - distance: 177.621
                    sign: 2
                    interval:
                    - 18
                    - 20
                    text: Turn right onto Thalkirchner Straße
                    time: 35524
                    street_name: Thalkirchner Straße
                  - distance: 332.89
                    sign: -2
                    interval:
                    - 20
                    - 24
                    text: Turn left onto Thalkirchner Straße
                    time: 67351
                    street_name: Thalkirchner Straße
                  - distance: 0
                    sign: 4
                    last_heading: 45.67046584987792
                    interval:
                    - 24
                    - 24
                    text: Arrive at destination
                    time: 0
                    street_name: ""
                  legs: []
                  details: {}
                  ascend: 6.3294677734375
                  descend: 25.0579833984375
                  snapped_waypoints:
                    type: LineString
                    coordinates:
                    - - 11.539424
                      - 48.118352
                    - - 11.558901
                      - 48.122364
              schema:
                $ref: '#/components/schemas/RouteResponse'
          description: Routing Result
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: "Your request is not valid. For example, you specified too\
            \ few or too many points."
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Authentication necessary
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: API limit reached.
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHError'
          description: Internal server error. We get notified automatically and fix
            this asap.
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
      summary: Calculate a route
      tags:
      - Routing
  /isochrone:
    get:
      operationId: getIsochrone
      parameters:
      - description: Specify the start coordinate
        explode: true
        in: query
        name: point
        required: true
        schema:
          type: string
        style: form
      - description: Specify which time the vehicle should travel. In seconds.
        explode: true
        in: query
        name: time_limit
        required: false
        schema:
          default: 600
          format: int32
          type: integer
        style: form
      - description: Specify which distance the vehicle should travel. In meters.
        explode: true
        in: query
        name: distance_limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: '#/components/schemas/VehicleProfileId'
        style: form
      - description: Number by which to divide the given `time_limit` to create `buckets`
          nested isochrones of time intervals `time_limit-n*time_limit/buckets`. Applies
          analogously to `distance_limit`.
        explode: true
        in: query
        name: buckets
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - description: |
          If `false` the flow goes from point to the polygon, if `true` the flow goes from the polygon "inside" to the point.
          Example use case for `false`&#58; *How many potential customer can be reached within 30min travel time from your store* vs. `true`&#58; *How many customers can reach your store within 30min travel time.*
        explode: true
        in: query
        name: reverse_flow
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsochroneResponse'
          description: Isochrone Result
      summary: Compute an isochrone
      tags:
      - Isochrones
      x-codeSamples:
      - lang: curl
        source: "curl \"https://graphhopper.com/api/1/isochrone?point=51.131108,12.414551&key=api_key\""
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient();
          Request request = new Request.Builder()
                  .url("https://graphhopper.com/api/1/isochrone?point=51.131108,12.414551&key=api_key")
                  .get()
                  .build();

          Response response = client.newCall(request).execute();
  /matrix:
    get:
      description: |
        For N origins and M destinations, compute routes from all origins to all destinations and output
        the result as a matrix of travel times and/or distances.

        This includes the common cases of routes from one origin to many destinations, or from many origins to one
        destination.
      operationId: getMatrix
      parameters:
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: '#/components/schemas/VehicleProfileId'
        style: form
      - description: "Specify multiple points in `latitude,longitude` for which the\
          \ weight-, route-, time- or distance-matrix should be calculated. In this\
          \ case the starts are identical to the destinations. If there are N points,\
          \ then NxN entries will be calculated. The order of the point parameter\
          \ is important. Specify at least three points. Cannot be used together with\
          \ from_point or to_point."
        explode: true
        in: query
        name: point
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The origin points for the routes in `latitude,longitude`. E.g.\
          \ if you want to calculate the three routes A-&gt;1, A-&gt;2, A-&gt;3 then\
          \ you have one from_point parameter and three to_point parameters."
        explode: true
        in: query
        name: from_point
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The destination points for the routes in `latitude,longitude`."
        explode: true
        in: query
        name: to_point
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional parameter. Specifies a hint for each `point` parameter
          to prefer a certain street for the closest location lookup. E.g. if there
          is an address or house with two or more neighboring streets you can control
          for which street the closest location is looked up.
        explode: true
        in: query
        name: point_hint
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: For the from_point parameter. See point_hint
        explode: true
        in: query
        name: from_point_hint
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: For the to_point parameter. See point_hint
        explode: true
        in: query
        name: to_point_hint
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Optional parameter. 'Snapping' is the process of finding the closest road location for GPS coordinates provided in the `point` parameter. The `snap_prevention` parameter allows you to prevent snapping to specific types of roads. For example, if `snap_prevention` is set to bridge, the routing engine will avoid snapping to a bridge, even if it is the closest road for the given `point`. Current supported values: `motorway`, `trunk`, `ferry`, `tunnel`, `bridge` and `ford`. Multiple values are specified like `snap_prevention=ferry&snap_prevention=motorway`. Note that once snapped the routing algorithm can still route over bridges (or the other values). To avoid this you need to use the `custom_model`.
        explode: true
        in: query
        name: snap_prevention
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Optional parameter. It specifies on which side a point should
          be relative to the driver when she leaves/arrives at a start/target/via
          point. You need to specify this parameter for either none or all points.
          Only supported for motor vehicles and OpenStreetMap.
        explode: true
        in: query
        name: curbside
        required: false
        schema:
          items:
            enum:
            - any
            - right
            - left
            type: string
          type: array
        style: form
      - description: Curbside setting for the from_point parameter. See curbside.
        explode: true
        in: query
        name: from_curbside
        required: false
        schema:
          items:
            enum:
            - any
            - right
            - left
            type: string
          type: array
        style: form
      - description: Curbside setting for the to_point parameter. See curbside.
        explode: true
        in: query
        name: to_curbside
        required: false
        schema:
          items:
            enum:
            - any
            - right
            - left
            type: string
          type: array
        style: form
      - description: "Specifies which arrays should be included in the response. Specify\
          \ one or more of the following options 'weights', 'times', 'distances'.\
          \ To specify more than one array use e.g. out_array=times&out_array=distances.\
          \ The units of the entries of distances are meters, of times are seconds\
          \ and of weights is arbitrary and it can differ for different vehicles or\
          \ versions of this API."
        explode: true
        in: query
        name: out_array
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Specifies whether or not the matrix calculation should return
          with an error as soon as possible in case some points cannot be found or
          some points are not connected. If set to `false` the time/weight/distance
          matrix will be calculated for all valid points and contain the `null` value
          for all entries that could not be calculated. The `hint` field of the response
          will also contain additional information about what went wrong (see its
          documentation).
        explode: true
        in: query
        name: fail_fast
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatrixResponse'
          description: Matrix API response
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
      summary: Compute a matrix
      tags:
      - Matrices
      x-codeSamples:
      - lang: curl
        source: "curl \"https://graphhopper.com/api/1/matrix?point=49.932707,11.588051&point=50.241935,10.747375&point=50.118817,11.983337&type=json&profile=car&out_array=weights&out_array=times&out_array=distances&key=api_key\""
      - lang: Java
        source: |-
          OkHttpClient client = new OkHttpClient();
          Request request = new Request.Builder()
                  .url("https://graphhopper.com/api/1/matrix?point=49.932707,11.588051&point=50.241935,10.747375&point=50.118817,11.983337&type=json&profile=car&out_array=weights&out_array=times&out_array=distances&key=api_key")
                  .get()
                  .build();

          Response response = client.newCall(request).execute();
    post:
      description: |
        Calculate a matrix of travel times and/or distances between N origins and M destinations.

        This includes the common cases of routes from one origin to many destinations, or from many origins to one
        destination.
      operationId: postMatrix
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMatrix_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatrixResponse'
          description: Matrix API response
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
      summary: Compute a matrix
      tags:
      - Matrices
  /matrix/calculate:
    post:
      description: "An alternate endpoint for computing a large matrix asynchronously,\
        \ where a request against the regular \nendpoint would result in a timeout.\n\
        \nThe request format is the same, but instead of the result, you are given\
        \ a job identification number that\nyou can use to retrieve the result once\
        \ it is available.\n        \nIn most cases, prefer the regular endpoints.\n\
        \nHere are some full examples via curl:\n```bash\n$ curl -X POST -H \"Content-Type:\
        \ application/json\" \"https://graphhopper.com/api/1/matrix/calculate?key=[YOUR_KEY]\"\
        \ -d '{\"points\":[[13.29895,52.48696],[13.370876,52.489575],[13.439026,52.511206]]}'\n\
        {\"job_id\":\"7ac65787-fb99-4e02-a832-2c3010c70097\"}\n```\n\nPick the returned\
        \ `job_id` and use it in the next GET requests:\n```bash\n$ curl -X GET \"\
        https://graphhopper.com/api/1/matrix/solution/7ac65787-fb99-4e02-a832-2c3010c70097?key=[YOUR_KEY]\"\
        \n{\"status\":\"waiting\"}\n```\n\nWhen the calculation is finished (`status:finished`)\
        \ the JSON response will contain the full matrix JSON under `solution`:\n\
        ```bash\n$ curl -X GET \"https://graphhopper.com/api/1/matrix/solution/7ac65787-fb99-4e02-a832-2c3010c70097?key=[YOUR_KEY]\"\
        \n{\"solution\":{\"weights\":[[0.0,470.453,945.414],[503.793,0.0,580.871],[970.49,569.511,0.0]],\"\
        info\":{\"copyrights\":[\"GraphHopper\",\"OpenStreetMap contributors\"]}},\"\
        status\":\"finished\"}\n```\n\nPlease note that if an error occured while\
        \ calculation the JSON will not have a status but contain directly the error\
        \ message e.g.:\n```json\n{\"message\":\"Cannot find from_points: 1\"}\n```\n\
        And the optional `hints` array.\n"
      operationId: calculateMatrix
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postMatrix_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobId'
          description: A jobId you can use to retrieve your solution from the server.
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
      summary: Submit a matrix computation job
      tags:
      - Matrices
  /matrix/solution/{jobId}:
    get:
      operationId: getMatrixSolution
      parameters:
      - description: The jobId you received when you submitted the job.
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMatrixSolution_200_response'
          description: A response containing the matrix
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Reset:
              description: The number of seconds that you have to wait before a reset
                of the credit count is done.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Credits:
              description: "The credit costs for this request. Note it could be a\
                \ decimal and even negative number, e.g. when an async request failed."
              explode: false
              schema:
                type: integer
              style: simple
      summary: Retrieve result of a matrix computation job
      tags:
      - Matrices
  /match:
    post:
      description: |
        To get a match response you send a GPX file in the body of an HTTP POST request and specify request parameters like the `key` and `profile` in the URL.
        See below for more supported parameters.
      operationId: postGPX
      parameters:
      - description: "Specify the precision of a point, in meter"
        explode: true
        in: query
        name: gps_accuracy
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: profile
        required: false
        schema:
          $ref: '#/components/schemas/VehicleProfileId'
        style: form
      - description: |
          The locale of the resulting turn instructions. E.g. `pt_PT` for Portuguese or `de` for German.
        explode: true
        in: query
        name: locale
        required: false
        schema:
          default: en
          type: string
        style: form
      - description: |
          If `true`, a third coordinate, the altitude, is included with all positions in the response.
          This changes the format of the `points` and `snapped_waypoints` fields of the response, in both their
          encodings. Unless you switch off the `points_encoded` parameter, you need special code on the
          client side that can handle three-dimensional coordinates.
        explode: true
        in: query
        name: elevation
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Optional parameter. The following path details are available:\
          \ `street_name`, `street_ref`, `street_destination`, `leg_time`, `leg_distance`,\
          \ `roundabout`, `country`, `time`, `distance`, `max_speed`,\n`max_weight`,\
          \ `max_width`, `toll`, `road_class`, `road_class_link`, `road_access`, `road_environment`,\
          \ `hazmat`, `hazmat_tunnel`, `hazmat_water`, \n`lanes`, `surface`, `smoothness`,\
          \ `hike_rating`, `mtb_rating`, `foot_network`, `bike_network`. Read more\
          \ about the usage of path details [here](https://discuss.graphhopper.com/t/2539).\n"
        explode: true
        in: query
        name: details
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          If instructions should be calculated and returned
        explode: true
        in: query
        name: instructions
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          If the points for the route should be calculated at all.
        explode: true
        in: query
        name: calc_points
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: |
          Allows changing the encoding of location data in the response. The default is polyline encoding, which is compact
          but requires special client code to unpack. (We provide it in our JavaScript client library!)
          Set this parameter to `false` to switch the encoding to simple coordinate pairs like `[lon,lat]`, or `[lon,lat,elevation]`.
          See the description of the response format for more information.
        explode: true
        in: query
        name: points_encoded
        required: false
        schema:
          default: true
          type: boolean
        style: form
      requestBody:
        content:
          application/gpx+xml:
            example: |
              <gpx>
                <trk>
                  <trkseg>
                    <trkpt lat="51.343657" lon="12.360708"></trkpt>
                    <trkpt lat="51.343796" lon="12.361337"></trkpt>
                    <trkpt lat="51.342784" lon="12.361882"></trkpt>
                  </trkseg>
                </trk>
              </gpx>
        description: A GPX document containing the map-matching input.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
          description: Map matching result
          headers:
            X-RateLimit-Limit:
              description: Your current daily credit limit.
              explode: false
              schema:
                type: integer
              style: simple
            X-RateLimit-Remaining:
              description: Your remaining credits until the reset.
              explode: false
              schema:
[...]
